# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#.gitignore
.idea/
dubbo-spring-boot-starter/

spring-boot-dubbo-api/spring-boot-dubbo-api.iml
spring-boot-dubbo-api/target

spring-boot-dubbo-service/spring-boot-dubbo-service.iml
spring-boot-dubbo-service/target

spring-boot-dubbo-web-server/spring-boot-dubbo-web-server.iml
spring-boot-dubbo-web-server/target
