# Created by .ignore support plugin (hsz.mobi)
.idea/
dubbo-spring-boot-starter/

spring-boot-dubbo-api/spring-boot-dubbo-api.iml
spring-boot-dubbo-api/target

spring-boot-dubbo-service/spring-boot-dubbo-service.iml
spring-boot-dubbo-service/target

spring-boot-dubbo-web-server/spring-boot-dubbo-web-server.iml
spring-boot-dubbo-web-server/target
